/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

img {
	object-fit: cover;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

h3{
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 26px;
	color: black
}

nav ul, nav a {
	display: flex;
	align-items: center;
	list-style-type: none;
	text-decoration: none;

}

nav a {
	font-size: 16.8px;
	color: black;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover, 
nav a:hover  {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.filters {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 50px;
	gap: 10px;
}

button {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;
	background-color: white;
	border-radius: 60px;
	border: 1px solid #1D6154;
	height: 37px;
	width: 100px;
	cursor: pointer;
}

.selected{
	background-color: #1D6154;
	color: white;
}

.btnFilterApartments {
	width: 157px;
}

.btnFilterHotelRestau {
	width: 198px;
}



/**************LOG IN***************/

.section__login {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
}

h2 {
	padding-bottom: 40px;
}

.login {
	display: flex;
	flex-direction: column;
}

.login input {
	height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#connect {
	cursor: pointer;
}

#email, #motdepasse {
	height: 51px;
	width: 379px;
	margin-top: 10px;
	margin-bottom: 15px;
}

a {
	cursor: pointer;
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	color: #3D3D3D;
	text-decoration: underline;
}
.error_login {
	margin-bottom: 15px;
	background-color: #ffdddd;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
}


/************EDIT MODE*************/

.edit_mode {
	height: 59px;
	background-color: black;
	display: none;
	justify-content: center;
	align-items: center;
}

.edit_mode p {
	color: white;
}

.display__flex {
	display: flex;
}

.edit_mode .fa-pen-to-square {
	padding-right: 12px;
}

.edit__link--modale {
	display: none;
	vertical-align: middle;
	text-decoration: none;
}


.edit__link--modale .fa-pen-to-square {
	padding-left: 25px;
	padding-right: 10px;
}

.display__inline {
	display: inline;
}


/*********** CSS de la modale *************/
.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	box-sizing: border-box;
	animation: fadeIn 300ms both;
}

.modal-wrapper {
	overflow: auto; /* Faire apparaître une scroll bar en cas de débordement */
	position: absolute;
	width: 630px;
	max-width: calc(100vw - 20px); /* Une fois la largeur de la taille l'écran moins 20 px pour le padding*/
	max-height: calc(100vh - 20px); /* Une fois la hauteur de la taille l'écran moins 20 px pour le padding*/
	padding: 40px;
	background-color: white;
	border-radius: 10px;
	animation: slideFromTop 500ms both;
	display: flex;
    align-items: center;
    flex-direction: column;
}

.articles__edit--works {
	width: 76%;
	padding-top: 50px;
	padding-bottom: 40px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.articles__edit--works img {
	width: 85px;
	height: 115px;

}

.modal[aria-hidden="true"] { /* Si la modal a cet attribut, jouer l'animation inverse sur la classe .modal car on doit la masquer */
	animation: fadeOut 300ms both;
}

.modal[aria-hidden="true"] .modal-wrapper { /* Si la modal a cet attribut, jouer l'animation inverse sur la classe .modal-wrapper */
	animation: slideToBottom 500ms both;
}

#title__modal {
	text-align: center;
}

.js-modal-close {
	position: relative;
    top: 0px;
    left: 308px;
}

.js-modal-back {
	position: relative;
    bottom: 22px;
    right: 308px;
}

.fa-xmark,
.fa-arrow-left {
	font-size: 24px;
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes slideFromTop {
	from { transform: translateY(-50px); }
	to { transform: translateY(0px); }
}

@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes slideToBottom {
	from { transform: translateY(0px); }
	to { transform: translateY(50px); }
}

.js-link__work--delete {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 110px;
    left: 64px;
	width: 17px;
	height: 17px;
	border-radius: 2px;
	background-color: black;
}

.fa-trash-can {
	color: white;
	font-size: 10px;
}

.modal__button {
	border-top: 1px solid #B3B3B3;
	width: 76%;
	display: flex;
	justify-content: center;
}

.btn__add--photo, .btn__validate--photo {
	margin-top: 40px;
	width: 237px;
	color: white;
	background-color: #1D6154;
	font-size: 14px;
}

.btn__validate--photo {
	background-color: #A7A7A7;
	border: 1px solid #A7A7A7;
	display: none;
}

.form__addPhotos {
	width: 76%;
	margin-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	position: relative;
}

.send-image {
	background-color: #E8F1F6;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 169px;
}

.fa-image {
	padding-top: 20px;
	font-size: 70px;
	color: #B9C5CC;
	padding-bottom: 8px;
}

#fileInput {
	display: none;
}

label[for="fileInput"] {
	background-color: #CBD6DC;
	color: #306685;
	height: 37px;
	width: 173px;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
  }

#formats{
	font-size: 10px;
	margin-top: 10px;
}

#titre, #categ {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	width: 100%;
}

#categ {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.fa-chevron-down {
	font-size: 11px;
    position: absolute;
    bottom: 59px;
    right: 28px;
}

#categ option[label="Sélectionnez une catégorie"] {
    display: none;
}

#categ option:first-child {
	display: none;
  }

label[for="categ"], label[for="titre"] {
	margin-top: 20px;
	margin-bottom: 5px;
	text-align: left;
}

#imagePreview {
	height: 100%;
	width: 27%;
}

.displayNone {
	display: none;
}